<!DOCTYPE html>
<html>
<head>
	{% block titulo %}{% endblock %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
	{% include "nav.html" %}
	
	<form action="{% url 'lista_pacientes' %}" method="GET">
		<input type="text" name="paciente">
		<input type="submit" name="buscar">
	</form>
	{% block contenido %}{% endblock %}
	<button name="logout"><a href="{% url 'logout' %}">salir</a></button>
</body>
</html>