<!DOCTYPE html>
<html>
<head>
	<title>Crear paciente</title>
</head>
<body>
	<div>
		<form method="POST">
			{% csrf_token %}
			<input type="text" name="fechaCita" placeholder="fechaCita">
			<input type="text" name="tipoCita" placeholder="tipoCita">
			<input type="text" name="Observaciones" placeholder="observaciones">
			<input type="text" name="idPaciente" placeholder="idPaciente">
			<input type="text" name="idEspecilista" placeholder="idEspecilista">
			<input type="text" name="idRegistro" placeholder="idRegistro">

			<button type="submit">Crear paciente</button>
		</form>
	</div>
</body>
</html>