<!DOCTYPE html>
<html>
<head>
	<title>Registro</title>
</head>
<body>
	<form method="POST">
		{% if error %}
			<p class="alert alert-danger" style="color: red;">{{ error }}</p>
		{% endif %}
		<div class="form-group">
			{% csrf_token %}
			<input class="form-control" type="text" name="usuario" placeholder="nombre usuario" style="margin-top: 10px; padding: 5px;"><br>
			<input class="form-control" type="password" name="password" placeholder="Contraseña" style="margin-top: 10px; padding: 5px;"><br>
			<input class="form-control" type="password" name="password_confirmation" placeholder="Confirmacion de contraseña" style="margin-top: 10px; padding: 5px;"><br>

			<input class="form-control" type="text" name="nombre" placeholder="nombre" style="margin-top: 10px; padding: 5px;"><br>
			<input class="form-control" type="text" name="apellido" placeholder="apellido" style="margin-top: 10px; padding: 5px;" ><br>
			<input class="form-control" type="email" name="email" placeholder="email" style="margin-top: 10px; padding: 5px;"><br>
			
			<button type="submit" style="margin-top: 10px; padding: 5px; background: blue;">Registrarse</button><br>

		</div>
	</form>
</body>
</html>